{% extends 'master' %}

{%block content%}
<div class="container" style="margin-top:9rem;">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <center><h1 class="text-center">Bienvenid@ {{username}} tu cuenta ha sido registrado exitasamente, ahora puedes comenzar tu experiencia <i class="fa fa-smile-o"></i></h1>
        <hr>
        <h3>Seras redireccionado a inicio para que puedas comenzar tu experiencia en... <span id="count-time">10 Seg</span> </h3>
      </center>
    </div>
  </div>
</div>
{%endblock%}

{%block js%}
<script type="text/javascript">
  var count = 10;
  setInterval(function(){
    $("#count-time").text(count+" Seg");
    count--;
    if(count <= 0){
      window.location = "/";
    }
  }, 1000);
</script>
{%endblock%}
