{% extends 'masterAdmin' %}
{%block css%}
<link rel="stylesheet" href="assets/css/chat.css">
<style media="screen">
  .my-cards .card{
    height: 7rem;
    cursor: pointer;
  }.my-cards .card.active{
    background-color:#EF5350!important;
  }
  .cont-table>div.wrap{
    height: 30rem;
    overflow-y: auto;
  }
  .cont-table{
    position: relative;
  }
  .cont-table table>thead{

  }

</style>
{%endblock%}

{% block contadmin %}
<!--Table-->
<div class="cont-table" id="table-triunfo" style="display:none;">
  <div class="wrap">
  <table class="table">
      <!--Table head-->
      <thead class="mdb-color bg-red">
          <tr class="text-white">
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Patron</th>
              <th>Fecha</th>
              <th>Accion</th>
          </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        {%for patron in patrones %}
          <tr>
              <td class="td-nombre">{{patron.nombre}}</td>
              <td class="td-descripcion">{{patron.descripcion}}</td>
              <td class="td-patron">{{patron.match}}</td>
              <td class="td-fecha">{{patron.created_at}}</td>
              <td class="td-puntos">{{patron.puntos}}</td>
              <td><button class="btn btn-danger btn-modify" data-id="{{patron.id}}">Modificar</button></td>
          </tr>
        {%endfor%}
      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
      <!--Table body-->
  </table>
  <!--Table-->
  </div>
  <button type="button" class="btn btn-info" id="btn-return" name="button">Regresar</button>
</div>
  <section class="form-elegant">
      <!--Form without header-->
      <div class="card" id="card-triunfo">

          <div class="card-body row" style="padding-left:3rem;padding-right:3rem;">
            <div class="col-md-6">
              <div class="md-form">
                 <i class="fa fa-tag prefix grey-text"></i>
                 <input type="text" id="nombre" class="form-control">
                 <label for="nombre">Nombre:</label>
              </div>
              <div class="md-form">
                  <input type="number" id="puntos"  class="form-control" length="80">
                  <label for="puntos">Valor de triunfo(Pts)</label>
              </div>
              <div class="md-form">
                 <i class="fa fa-pencil prefix grey-text"></i>
                 <textarea type="text" id="descripcion" class="md-textarea" style="height: 100px"></textarea>
                 <label for="descripcion">Descripción</label>
              </div>
            </div>
            <div class="col-md-6" style="margin-left:.rem;">
              <!--Card Primary-->
              <div class="row my-cards">
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
                <div class="card indigo text-center z-depth-2 col-md-3">
                    <div class="card-body">
                    </div>
                </div>
              </div>

            </div>
            <div id="btns-save">
              <div class="text-center mb-8">
                  <button type="button" class="btn bg-success btn-block btn-rounded z-depth-1a" id="btn-registrar">Registrar Metodo</button>
              </div>
            </div>
            <div class="text-center mb-1">
                <button type="button" class="btn btn-warning btn-block btn-rounded z-depth-1a" style="display:none;" id="btn-update"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="text-center mb-1">
                <button type="button" class="btn btn-danger btn-block btn-rounded z-depth-1a" style="display:none;" id="btn-delete"><i class="fa fa-trash"></i></button>
            </div>
            <div class="text-center mb-8">
                <button type="button" class="btn btn-warning btn-block btn-rounded z-depth-1a" id="btn-ver">Ver todo</button>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer mx-5 pt-3 mb-1">
          </div>

      </div>
      <!--/Form without header-->

  </section>


{% endblock %}

{%block jsadmin%}
<script src="/assets/js/triunfos.js" charset="utf-8"></script>
{%endblock%}
