{% extends 'masterAdmin' %}
{%block css%}
<link rel="stylesheet" href="assets/css/chat.css">
{%endblock%}

{% block contadmin %}
  <section class="form-elegant">

      <!--Form without header-->
      <div class="card">

          <div class="card-body mx-4">
            <form class="" id="frm-carta" action="index.html" method="post">

              <!--Header-->
              <div class="text-center">
                  <h3 class="dark-grey-text mb-5"><strong>Registrar una nueva carta</strong>

                  </h3>
              </div>

              <!--Body-->
              <div class="md-form">
                  <input type="text" id="nombre"  class="form-control" length="80">
                  <label for="nombre">Nombre de la carta</label>
              </div>

              <div class="md-form pb-3">
                  <input type="text" id="frase" class="form-control" length="80">
                  <label for="frase">Frase de la carta</label>
              </div>

              <div class="file-field">
                <div class="btn btn-info btn-sm">
                    <span>Seleccione la imagen</span>
                    <input type="file" id="imagen" name="imagen" accept="image/*">
                </div>
                <div class="file-path-wrapper">
                   <input class="file-path validate" readonly="true" type="text" placeholder="Subir imagen">
                </div>
            </div>
            </form>
              <select class="mdb-select" id="version">
              	<option value="" disabled selected>Version de la lotería</option>
                {% for version in versiones %}
                  <option value="{{version.id}}">{{version.nombre}}</option>
                {% endfor %}
              </select>
              <div class="text-center mb-3">
                  <button type="button" class="btn bg-red btn-block btn-rounded z-depth-1a" id="btn-registrar">Registrar carta</button>
              </div>
          </div>

          <!--Footer-->
          <div class="modal-footer mx-5 pt-3 mb-1">
          </div>

      </div>
      <!--/Form without header-->

  </section>


{% endblock %}

{%block jsadmin%}
<script src="/assets/js/sendCarta.js" charset="utf-8"></script>
{%endblock%}
