{% extends 'master' %}
{%block css%}
<link rel="stylesheet" href="assets/css/chat.css">
{%endblock%}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="my-list-users">
          <div class="list-header text-center bg-purple">
            Lista de usuarios <i class="fa fa-users"></i>
          </div>
          <div class="list-group" id="list-users">
            <a href="#" class="list-group-item ln-h"><span class="initial active"></span> Rogelio Rafael (roger)</a>
            <a href="#" class="list-group-item ln-h"><span class="initial"></span> Rogelio Rafael (roger)</a>
            <a href="#" class="list-group-item ln-h"><span class="initial"></span> Rogelio Rafael (roger)</a>
            <a href="#" class="list-group-item ln-h"><span class="initial"></span> Rogelio Rafael (roger)</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
          <!--Panel-->
          <div class="card text-center my-card" style="width:100%">
              <div class="card-header bg-purple white-text">
                  WhatChat <i class="fa fa-whatsapp"></i>
              </div>
              <div class="card-body">
                  <p class="card-text">Tus mensajes estan protegidos por whatchat, tus mensajes no podran ser vistos por terceros.</p>
                  <!--Textarea with icon prefix-->
                  <div class="row">
                    <div class="col-md-">

                    </div>
                    <div class="col-md-12">
                      <ul class="messages" id="my-messages-list">

                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-">
                    </div>
                    <div class="col-md-12">
                      <div class="input-group group-message">
                        <span class="input-group-addon bg-purple purple-gradient"><i class="fa fa-picture-o"></i></span>
                        <textarea type="text" class="form-control" id="message" aria-label="Amount (to the nearest dollar)"></textarea>
                        <span class="input-group-addon bg-purple aqua-gradient" id="btn-send"><i class="fa fa-paper-plane"></i></span>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="card-footer text-muted bg-purple white-text">
                  <p class="mb-0">Copyright: © 2017 E. I. du Pont de Nemours and Company. All Rights Reserved </p>
              </div>
          </div>
          <!--/.Panel-->

      </div>
    </div>
  </div>
{% endblock %}

{%block js%}
<script src="/assets/js/ws_client.js" charset="utf-8"></script>
<script src="/assets/js/socket_conf.js" charset="utf-8"></script>
<script src="/assets/js/components.js" charset="utf-8"></script>
<script src="/assets/js/messages.js" charset="utf-8"></script>
<script src="/assets/js/chat.js" charset="utf-8"></script>
 {%endblock%}
