{% extends 'masterAdmin' %}
{%block css%}
<link rel="stylesheet" href="assets/css/chat.css">
{%endblock%}

{% block contadmin %}
<div id="grafica">

</div>
{% endblock %}
{%block jsadmin%}
<script src="/libs/charts/code/highcharts.js" charset="utf-8"></script>
<script src="/assets/js/grafica.js" charset="utf-8"></script>
{%endblock%}
