<!DOCTYPE html5>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="keywords" content="prefiltros,motores,torreon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/assets/media/images/nuestrosvalores.png">    <title>Lotería | Project</title>
    <!-- Zona de archivos de estilo -->
    <link rel="stylesheet" href="/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/mdb/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/mdb/css/mdb.min.css">
    <link rel="stylesheet" href="/libs/mdb/css/mdb.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/libs/sweetalert2-master/dist/sweetalert2.min.css">
  	{%block css%}{%endblock%}
  </style>
</head>
<body class="intro-page pink-skin">
    <header>
      <!-- navbar-fixed-top scrolling-navbar -->
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-pink scrolling-navbar" id="my-nav">
          <div class="container">
            <a class="navbar-brand" href="#">
              <img src="/assets/images/nuestrosvalores-white.png" alt="" class="img-fluid" id="icon-nav">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

              </ul>
              <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                  <a href="/logout" id="li-init" class="nav-link waves-effect waves-light"><i class="fa fa-sign-in"></i> <span class="">Cerrar sesion</span></a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
        {%block carousel%}{%endblock%}
</header>

<main>
      {%block content%}
      <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
          <div class="modal-c-tabs">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist" style="background-color:#D32F2F!important;">
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i> Iniciar sesion</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i> Registrarme</a>
                          </li>
                      </ul>

                      <!-- Tab panels -->
                      <div class="tab-content">
                          <!--Panel 7-->
                          <div class="tab-pane fade show active" id="panel7" role="tabpanel">

                              <!--Body-->
                              <div class="modal-body mb-1">
                                  <div class="md-form form-sm">
                                      <i class="fa fa-envelope prefix"></i>
                                      <input type="text" id="email" name="email" class="form-control">
                                      <label for="email">username</label>
                                  </div>

                                  <div class="md-form form-sm">
                                      <i class="fa fa-lock prefix"></i>
                                      <input type="password" id="password" name="password" class="form-control">
                                      <label for="password">Contraseña</label>
                                  </div>
                                  <div class="text-center mt-2">
                                      <button class="btn btn-success" id="btn-login">Iniciar <i class="fa fa-sign-in ml-1"></i></button>
                                  </div>
                              </div>
                              <!--Footer-->
                          </div>
                          <!--/.Panel 7-->

                          <!--Panel 8-->
                          <div class="tab-pane fade" id="panel8" role="tabpanel">

                              <!--Body-->
                              <div class="modal-body">
                                  <form id="frm-register">
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="email-" name="emai-" class="form-control" length="100">
                                        <label for="email-">Email</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="email" id="email-r" name="emai-r" class="form-control" length="100">
                                        <label for="email-r">username</label>
                                    </div>

                                    <div class="md-form form-sm">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="password-r" name="password-r" class="form-control" length="100">
                                        <label for="password">Contraseña</label>
                                    </div>

                                    <div class="md-form form-sm">
                                        <i class="fa fa-lock prefix"></i>
                                        <input type="password" id="cpassword" name="cpassword" class="form-control" length="100">
                                        <label for="cpassword">Confirmar Contraseña</label>
                                    </div>

                                    <div class="text-center form-sm mt-2">
                                        <button type="button" class="btn btn-success" id="btn-register">Iniciar <i class="fa fa-sign-in ml-1"></i></button>
                                    </div>
                                  </form>
                              </div>
                              <!--Footer-->
                          </div>
                          <!--/.Panel 8-->
                      </div>
                </div>
          </div>
      </div>
      {%endblock%}
</main>
     <!--Footer-->
     <footer class="page-footer elegant-color center-on-small-only fadeInUp" style="margin-top:-.4rem; padding-top:.4rem">

         <!--Footer Links-->
        <!-- <div class="container-fluid">
             <div class="row">-->

                 <!--First column-->
                 <!--<div class="col-md-6">
                     <h5 class="title">Nuestros Valores</h5>
                     <p>#NuestrosValores: Capaña para la capacitación de personal.</p>
                 </div>-->
                 <!--/.First column-->

                 <!--Second column-->
              <!--   <div class="col-md-6">

                </div>-->
                 <!--/.Second column-->
          <!--   </div>
         </div>-->
         <!--/.Footer Links-->
      <!--   <hr>-->

            <!--Call to action-->
            <!--<div class="call-to-action">
                <ul>
                    <li>
                        <h5>Register for free</h5></li>
                    <li><a href="" class="btn btn-danger">Sign up!</a></li>
                </ul>
            </div>-->
            <!--/.Call to action-->

         <!--Copyright-->
         <div class="footer-copyright">
             <div class="container-fluid">
                 <span>Copyright: © 2017 E. I. du Pont de Nemours and Company. All Rights Reserved <br> The DuPont Oval, DuPont<sub>TM</sub>, and all products denoted width width <sub>TM</sub> or &#174; are trademarks of DuPont or its affiliates.</span>

             </div>
         </div>
         <!--/.Copyright-->

     </footer>
     <!--/.Footer-->

 <!-- Zona de archivos js -->
    <script src="/libs/mdb/js/jquery-3.1.1.min.js"></script>
    <script src="/libs/mdb/js/popper.min.js"></script>
    <script src="/libs/mdb/js/bootstrap.min.js"></script>
    <script src="/libs/mdb/js/mdb.min.js"></script>
    <script src="/libs/validation/jquery.validate.min.js"></script>
    <script src="/libs/validation/additional-methods.min.js"></script>
    <script src="/libs/validation/localization/messages_es.js"></script>
    <script src="/libs/sweetalert2-master/dist/sweetalert2.min.js" charset="utf-8"></script>
        <script>
            //Animation init
            new WOW().init();

            $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').focus()
              //Modal
            })

            // Material Select Initialization
            $(document).ready(function() {
                $('.mdb-select').material_select();
            });

            // MDB Lightbox Init
            $(function () {
                $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
            });
        </script>
    {%block js%}{%endblock%}
<!--/.Navbar-->
</body>
</html>
