{% extends 'master' %}
{%block css%}
<link rel="stylesheet" href="assets/css/chat.css">
{%endblock%}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="my-list-users">
          <div class="list-header text-center bg-red">
            <h4> Lista de usuarios  <i class="fa fa-users"></i></h4>
          </div>
          <div class="list-group" id="list-users">
            <a href="/admin-triunfo" class="list-group-item ln-h">Administración de triunfos</a>
            <a href="/admin-cartas" class="list-group-item ln-h">Administraicón ce cartas</a>
            <a href="/reparto" class="list-group-item ln-h"> Reparto de cartas</a>
            <a href="/admin-grafica" class="list-group-item ln-h"> Gráfica de estadisticas</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        {% block contadmin%}

        {%endblock%}
      </div>
    </div>
  </div>
{% endblock %}

{%block js%}

<script src="/assets/js/components.js" charset="utf-8"></script>
{% block jsadmin %}{% endblock %}
 {%endblock%}
