{% extends 'masterAdmin' %}
{%block css%}
<style media="screen">
.my-container{
  margin-top: 2rem;
}
.card-header{
  color: #fff;
}
.my-container .card-body{
  padding: 3rem;
}
.my-list-users{
  margin-top: 2rem !important;
}
.list-users>.item.active{
  color: #00C851;
}
.list-users>.item{
  display: inline-block;
  margin-left:1rem;
  cursor: pointer;
}
footer{
  margin-top: 7rem !important;
}
</style>
<link rel="stylesheet" href="assets/css/chat.css">
{%endblock%}

{% block contadmin %}
<div class="game" style="display:none;">
  <div id="app-game">

  </div>
  <hr>
  <h1 class="text-center">
    Usuarios unidos a la partida
  </h1>
  <hr>
  <div class="list-users users-list" style="padding-bottom:8rem" >
    <div class="item text-center">
      <i class="fa item fa-user-circle fa-4x"></i>
      <p>Rogelio Rafael</p>
    </div>
  </div>
  <hr>
</div>
<div class="container my-container" id="cont-main" style="display:">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-red">
          <h4 class="text-center"> <strong> <i class="fa fa-users"></i> Bienvenido a la lotería méxicana GERO </strong></h4>
        </div>
        <div class="card-body">
          <div id="re-welcome">
            <h4 class="text-center">Jugar lotería nunca fue tan divertido <i class="fa fa-gamepad"></i></h4>
            <p class="text-center">Comienza una nueva partida. Crea una partida nueva y une a los usuarios ha esta partida</p>
            <center> <button type="button" class="btn btn-lg bg-red" id="btn-create-part" name="button"><i class="fa fa-plus"></i> Crear una nueva partida</button></center>
          </div>
          <div id="re-reg" style="display:none;">
            <form class="" id="frm-carta" action="index.html" method="post">

                <!--Header-->
                <!-- <div class="text-center">
                    <h4 class="dark-grey-text mb-5"><strong>Registrar Partida</strong>

                    </h4>
                </div> -->

                <!--Body-->
                <div class="md-form">
                    <input type="text" id="nombre"  class="form-control" length="80">
                    <label for="nombre">Nombre de la partida</label>
                </div>
                <select class="mdb-select" id="version">
                  <option value="" disabled selected>Version de la lotería</option>
                  {% for version in versiones %}
                    <option value="{{version.id}}">{{version.nombre}}</option>
                  {% endfor %}
                </select>
                <select class="mdb-select" id="patrones" multiple>
                    <option value="" disabled selected>Elige los patrones de tríunfo</option>
                    {% for patron in patrones %}
                      <option value="{{patron.id}}">{{patron.nombre}}</option>
                    {% endfor %}
                </select>

                <div class="md-form upch-average">
                  <h6 class="text-left">
                    Limite de usuarios
                  </h6>
                 <input type="range" min="1" max="25" step="1" name="limit" id="limit" class="form-control" value="1">
                </div>
                <button type="button" class="btn btn-success" name="button" id="btn-save-partida">Guardar partida</button>
            </form>
          </div>
          <div id="re-clave" style="display:none;">
            <h4 class="text-center"><i class="fa fa-users"></i> Ahora se pueden unir a la partida para jugar utilizando la siguiente clave:</h4>
            <h4 class="text-center" id="txt-clave">345234</h4>
            <center><button type="button" class="btn btn-lg bg-red" id="btn-begin-game">Comenzar a jugar</button></center>
            <hr>
            <h4 class="text-center">Usuarios Conectados</h4>
            <div class="list-users users-list" id="users-list">
              <div class="item text-center">
                <i class="fa item fa-user-circle fa-4x"></i>
                <p>Rogelio Rafael</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="md-tablero" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Mi tablero</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="row" id="row-tablero">
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-3">
                    <img src="/assets/images/cartas/1503802490713.jpg" class="img-fluid" alt="">
                  </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->

{% endblock %}

{%block jsadmin%}
<script src="/libs/phaser.min.js"></script>
<script src="/assets/js/standard.js"></script>
<script src="/assets/js/game.js" charset="utf-8"></script>
<script src="/assets/js/loteria.js" charset="utf-8"></script>
<script src="/assets/js/ws_client.js" charset="utf-8"></script>
<script type="text/javascript">
  host = '{{host}}';
  const io = ws(host);
  const client = io.channel('partida').connect(console.log);
</script>
<script src="/assets/js/components.js" charset="utf-8"></script>
<script src="/assets/js/partida.js" charset="utf-8"></script>
<script src="/assets/js/reparto.js" charset="utf-8"></script>
{%endblock%}
