header{
  height: 10%;
  padding-bottom: 5%;
}
.bg-red{
  color: #fff;
}
main{
  margin-bottom: 2rem;
}
.bg-purple{
  background-color:#662482 !important;
  color: #fff;
}
/*.my-card .card-body{
  padding-left: 10rem;
}*/
#message{
  margin-top:0px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 20rem;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  display: inline-block;
}
.messages .message .avatar>p {
  color:    #fff;
  font-weight: bold;
  text-align:  center;
  line-height: 3.5rem;
  font-size: 1.5rem;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.group-message{
  padding-left: 1rem;
  padding-right: 1rem;
}
.my-list-users .list-header{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    padding: .75rem 1.25rem;
    font-weight: 400;
}
.group-message .input-group-addon{
  cursor: pointer;
}
.initial{
  color:    #fff;
  font-weight: bold;
  text-align:  center;
  font-size: .7rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f5886e;
}
.initial.active{
  background-color: #00C851;
}
.ln-h{

}
