#my-nav{
  background-color: #D32F2F !important;
  padding: 0;
  padding-bottom: .1rem;
}
main{
  height: 100%;
}
#my-nav.active{
  background-color: #D32F2F !important;
}
#carousel-example-1 .carousel-inner{
  height: 100%!important;
}
main{
  padding: .1rem;
}
@media (min-width: 769px)
mdb.min.css:39
.navbar:not(.top-nav-collapse) {
    -webkit-box-shadow: none;
    box-shadow: none;
}
mdb.min.css:39
.navbar:not(.top-nav-collapse) {
    background: 0 0;
}
.carousel-indicators .active {
    background-color: rgb(0, 0, 0) !important;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.77);
}
#in-nue{
  background-color: rgb(29,112, 183, 0.77);
}
#in-nue.active{
  background-color: #E31837!important;
}
#in-seg{
  background-color: rgb(29,112, 183, 0.77);
}
#in-seg.active{
  background-color: rgb(29,112, 183)!important;
}
#in-amb{
  background-color: rgb(118,183, 42, 0.77);
}
#in-amb.active{
  background-color: rgb(118,183,42)!important;
}
#in-res{
  background-color: rgb(102,36, 130, 0.77);
}
#in-res.active{
  background-color: rgb(102,36, 130)!important;
}
#in-eti{
  background-color: rgb(250,186, 9, 0.77);
}
#in-eti.active{
  background-color: rgb(250,186, 9)!important;
}
.img-valor{
  width: 6rem;
  height: 6rem;
}
/*
body{
  background-color: #2E2E2E;
}*/

#my-footer{
  background-color: #cc0000!important;
}

#carousel-example-1{
  background-color: #424242;
}

#my-footer{
    margin-top:-.4rem; padding-top:.4rem; background-color:#fafafa!important;
}

.my-card-acordion .card-header{
  padding: .5rem .6rem !important;
}
#my-nav .nav-link{
  padding: 0;
  padding-left: 1rem;
}
#my-footer{
    margin-top:1.2rem; padding-top:.4rem; background-color:#4B515D!important;
}
#my-footer *{
  color: #eceff1;
}
@charset "UTF-8";
html,
body,
.view {
  height: 100%; }

.img-portafolio {
  width: 100% !important; }

/* Barra scroll */
::-webkit-scrollbar {
  width: 13px; }

::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  background-color: #D32F2F;
  border: solid 3px #fff;
  border-radius: 10px; }

::-webkit-scrollbar-corner {
  background-color: transparent; }

/* FIN Barra scroll */
/* Navigation */
.navbar {
  background-color: transparent; }

.top-nav-collapse {
  background-color: #303841; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #303841; } }
.full-bg-img {
  color: #fff; }

.view {
  background: url("../images/proyecto-listo2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#icon-nav {
  height: 3rem;
  width: 7rem; }

.hr-style {
  border-color: #fff; }

.presupuesto {
  font-size: 1rem; }

/* / Navigation */
/* SLIDER INTRO */
.carousel {
  height: 100%; }

.carousel-item {
  height: 100%; }

.carousel-inner {
  height: 100%; }

.carousel-item:nth-child(1) {
  background-image: url("/packages/assets/media/images/slide1.png");
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-item:nth-child(2) {
  background-image: url("/packages/assets/media/images/slide2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-item:nth-child(3) {
  background-image: url("/packages/assets/media/images/slide3.png");
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-item:nth-child(4) {
  background-image: url("/packages/assets/media/images/slide4.png");
  background-repeat: no-repeat;
  background-size: cover; }

  .carousel-item:nth-child(5) {
    background-image: url("/packages/assets/media/images/slide5.png");
    background-repeat: no-repeat;
    background-size: cover; }

.flex-center {
  color: #fff; }

@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline; }

  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem; } }
/* / SLIDER INTRO */
/* SECCION Â¿QUÃ‰ HACEMOS? */
#sec-hacemos {
  height: auto;
  background-color: #3A4750; }
  #sec-hacemos .container {
    padding: 3rem 0rem 3rem 0rem;
    color: #fff; }
    #sec-hacemos .container h2 {
      color: #fff; }

@media (max-width: 758px) {
  .row-hacemos {
    margin-top: 3rem; } }

@media (max-width: 1258px) and (min-width: 958px) {
  .carousel-item:nth-child(1) {
    background-image: url("/packages/assets/media/images/slide1.png");
  }
}

@media (min-width: 1259px) {
  .carousel-item:nth-child(1) {
    background-image: url("/packages/assets/media/images/slide1-lg.png");
  }

}

/* / SECCION Â¿QUÃ‰ HACEMOS? */
/* SECCION Â¿QUÃ‰ OFRECEMOS? */
#sec-ofrecemos {
  height: auto;
  background-color: #EEEEEE; }
  #sec-ofrecemos .container {
    padding: 3rem 0rem 3rem 0rem;
    color: #fff; }
    #sec-ofrecemos .container h2 {
      color: #000; }

.zona-color {
  background-color: #3A4750; }

.zona-color2 {
  background-color: #fff;
  color: #000; }

.img-zona {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.img-zona3 {
  height: 100.1% !important;
  width: 100%;
  max-width: 100%; }
  @media (max-width: 778px) {
    .img-zona3 {
      height: auto !important; } }

.zona-text {
  padding: 2rem 2rem 2rem 2rem; }

.hr-zona {
  width: 70%;
  border-color: #fff; }

.hr-zona2 {
  width: 70%;
  border-color: #3A4750; }

/* / SECCION Â¿QUÃ‰ OFRECEMOS? */
/* SEPARADOR */
#sec-separador {
  height: 30%;
  background: url("../images/separador.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* / SEPARADOR */
/* SECCION FLUJO DESARROLLO */
#sec-flujo {
  height: auto;
  background-color: #EEEEEE; }
  #sec-flujo .container {
    padding: 3rem 0rem 3rem 0rem; }

/* / SECCION FLUJO DESARROLLO */
/* SECCION ANIMACIÃ“N */
#sec-animacion {
  height: auto;
  background-color: #3A4750;
  color: #fff; }
  #sec-animacion .container {
    padding: 3rem 0rem 3rem 0rem; }

/* / SECCION ANIMACIÃ“N */
/* SECCION TESTIMONIAL */
#sec-testimonial {
  height: auto;
  background-color: #3A4750;
  color: #fff; }
  #sec-testimonial .container {
    padding: 3rem 0rem 1rem 0rem; }

.btn-warning-nova {
  background-color: #e0792f; }

/* / SECCION TESTIMONIAL */
/* SECCION CONTACTO */
#sec-contacto {
  height: auto;
  background: url("../images/bg-supernova.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-right: 0px !important;
  padding-left: 0px !important; }
  #sec-contacto .container {
    padding: 3rem 0rem 1rem 0rem; }

.mascara {
  width: auto;
  background-color: rgba(0, 0, 0, 0.7);
  height: auto; }

.hr-contacto {
  width: 50%;
  border-color: #fff; }

.contacto-icon {
  height: 7rem; }

#btn-presupuesto3 {
  color: #FF8800; }

.correo {
  word-break: break-all;
  word-wrap: break-word; }

/* / SECCION CONTACTO */
/* FOOTER */
#sec-footer {
  height: auto;
  background-color: #303841;
  padding: 2rem 0rem 2rem 0rem; }
.navbar-brand img{
  height: 1rem;
  width: 3rem;
}
#logo-footer {
  height: 7rem;
  width: 9rem; }

@media (max-width: 758px) {
  .espacio-responsive {
    margin-bottom: 1rem; }
  }


/* / FOOTER */
/* VISTA PRESUPUESTO */
.bg-primary-sn {
  background-color: #303841; }

.row-sn {
  padding-top: 5.5rem; }

label i {
  color: #FF8800; }

.icon-sn {
  color: #FF8800; }

#enviar {
  margin-bottom: 1rem; }
.btn-juega{
  position: absolute;
  right: 12rem;
  top: 5rem;
  cursor: pointer;
}
.btn-juega:hover{
  transition: .6s;
  transform: scale(1.4);
}

@media (max-width: 1258px) and (min-width: 158px) {
  .carousel-item:nth-child(1) {
    background-image: url("/packages/assets/media/images/slide1.png");
  }
}

@media (min-width: 1259px) {
  .carousel-item:nth-child(1) {
    background-image: url("/packages/assets/media/images/slide1-lg.png");
  }

}

@media (max-width:1380px){
  .btn-juega{
    right: 12vw;

  }
}
@media (max-width:1180px){
  .btn-juega{
    right: 10vw;
    width: 20rem;

  }
}
@media (max-width:1000px){
  .btn-juega{
    right: 12vw;
    width: 28vw;

  }
}
@media (max-width:880px){
  .btn-juega{
    right: 7vw;
    width: 24vw;

  }
}
@media (max-width:620px){
  .btn-juega{
    right: 2vw;
    width: 23vw;

  }
}

@media (max-width:560px){
  .btn-juega{
    left: 22vw;
    top: 65vh;
    width: 39vw;
  }
  @media (max-width:490px){
    .btn-juega{
      left: 24vw;
      top: 65vh;
      width: 39vw;
    }
    @media (max-width:390px){
      .btn-juega{
        left: 25vw;
        top: 65vh;
        width: 14rem;
      }
}
